.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

@media only screen and (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
}

.button-no-demo {
    color: #017e84 !important;
}

.custom-input-width {
    width: 100%;
    height: 75px;
}
